.footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.footer_logo {
    width: 150px;
    object-fit: contain;
}

.footer_text {
    margin: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.extra_box {
    display: flex;
}

@media (max-width: 426px) {
    .footer_logo {
        width: 50px;
        object-fit: contain;
    }

    .footer_text {
        margin: 10px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .extra_box {
        display: flex;
        flex-direction: column;
    }
}